@import "styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 2.5rem;
  box-sizing: border-box;

  .containerHeader {
    display: flex;
    width: 100%;
    justify-content: flex-start;

    svg {
      cursor: pointer;
      font-size: 1.7rem;
      color: $darkgray;
    }
  }
    .firstForm {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      box-sizing: border-box;
      border-radius: 20px;
      padding: 20px;
      border: 1px solid $darkgray;

      width: 100%;
      .containerInput {
        display: flex;
        grid-column: span 1;
        flex-direction: column;
        gap: 10px;

        label {
          font-size: 1.2rem;
          font-weight: 600;
          color: $darkgray;
        }

        input,
        select {
          padding: 10px;
          border: 1px solid $darkgray;
          border-radius: 20px;
        }
      }
    }
  
  .containerResult{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid $darkgray;
    border-radius: 20px;
    .rowNum1{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      .containerInput {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          font-size: 1.2rem;
          font-weight: 600;
          color: $darkgray;
        }

        input,
        select {
          padding: 10px;
          border: 1px solid $darkgray;
          border-radius: 20px;
        }
      }
    }
  }
  .containerButton {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column: span 3;
    gap: 20px;
    width: 100%;
    button {
      display: flex;
      align-items: center;
      height: fit-content;
      gap: 5px;
      background-color: $mediumred;
      color: white;
      border: none;
      border-radius: 15px;
      padding: 5px 20px;
      box-sizing: border-box;
      cursor: pointer;
      width: fit-content;
      flex-wrap: nowrap;
      font-size: 1.2rem;
    }
  }
  .containerButtonExcel{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column: span 4;
    gap: 20px;
    width: 100%;

    .btnCancel{
      background-color: white;
      color: $darkgray;
    }
    
    button {
      display: flex;
      align-items: center;
      height: fit-content;
      gap: 5px;
      background-color: $mediumred;
      color: white;
      border: none;
      border-radius: 15px;
      padding: 5px 20px;
      box-sizing: border-box;
      cursor: pointer;
      width: fit-content;
      flex-wrap: nowrap;
      font-size: 1.2rem;
    }
  }
}
