@import "styles/colors.scss";

.containerModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .modal {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .containerHeader {
      display: flex;
      justify-content: space-between;
      h3 {
        color: $darkgray;
      }
      .close {
        border: none;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background-color: $lighgray;
        }
      }
    }

    form,
    .containerInputOutput {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      button {
        background-color: $mediumred;
        color: white;
        border: none;
        width: fit-content;
        height: fit-content;
        border-radius: 20px;
        cursor: pointer;
      }

      .containerInput {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          font-size: 1.2rem;
          font-weight: 600;
          color: $darkgray;
        }

        input,
        textarea,
        select {
          padding: 10px;
          border: 1px solid $darkgray;
          border-radius: 20px;
          &.observation {
            grid-column: span 4;
          }
        }
        &.observation {
          grid-column: span 4;
        }
      }

      .btnPayment {
        background-color: $mediumred;
        box-sizing: border-box;
        border: none;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        width: fit-content;
      }
      .containerButton {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 20px;
      }
    }
    .containerButtonForm {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      gap: 20px;

      button {
        background-color: $mediumred;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 10px 15px;
        cursor: pointer;
      }
    }
    .containerButton {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      gap: 20px;

      .button {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: #b3b3b3;
        color: white;
        padding: 10px 20px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s;
        font-weight: 500;
      }

      .button:hover {
        background-color: #a3a3a3;
      }

      .hiddenInput {
        display: none;
      }
    }
    .containerButtonSave {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      gap: 20px;

      button {
        background-color: $mediumred;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
}
