@import "styles/colors.scss";

.containerModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .modal {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-height: 100%;
    min-height: 50%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;

    .containerHeader {
      display: flex;
      justify-content: space-between;
      h3 {
        color: $darkgray;
      }
      .close {
        border: none;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background-color: $lighgray;
        }
      }
    }

    .containerInfoAdministrator{
      display: flex;
      flex-direction: column;
      h3{
        color: $darkgray;
        width: 100%;
        border-bottom: 2px solid $lighgray;
        padding-bottom: 10px;
      }
      .containerInputs{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        box-sizing: border-box;
        padding: 20px 0;

        .containerInput {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 10px;

          label {
            font-size: 1.2rem;
            font-weight: 600;
            color: $darkgray;
            white-space: nowrap;
          }

          input,
          select {
            width: 100%;
            padding: 10px;
            border: 1px solid $darkgray;
            border-radius: 20px;
          }
        }
      }
    }

    form {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 20px 0;
      box-sizing: border-box;
      gap: 20px;
      .containerInputSpan2{
        grid-column: span 2;
      }
      .containerRadioInput{
        display: flex;
        gap: 20px;
        align-items: center;


      }

      .containerInput {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;

        .containerRadio{
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: flex-start;

          .inputRadio{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 5px;
            input{
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }
          label{
            font-size: 1.2rem;
            font-weight: 600;
            color: $darkgray;
            white-space: nowrap;
          }
        }

        label {
          font-size: 1.2rem;
          font-weight: 600;
          color: $darkgray;
          white-space: nowrap;
        }

        input,
        select {
          width: 100%;
          padding: 10px;
          border: 1px solid $darkgray;
          border-radius: 20px;
        }
        .containerValue {
          display: flex;
          gap: 10px;
          align-items: center;
          input {
            width: 100px;
          }
          svg {
            cursor: pointer;
          }
        }
      }
    }
    .containerAdministrator {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      box-sizing: border-box;

      .containerInput {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;

        label {
          font-size: 1.2rem;
          font-weight: 600;
          color: $darkgray;
          white-space: nowrap;
        }

        input,
        select {
          width: 100%;
          padding: 10px;
          border: 1px solid $darkgray;
          border-radius: 20px;
        }
        .containerValue {
          display: flex;
          gap: 10px;
          align-items: center;
          input {
            width: 100px;
          }
          svg {
            cursor: pointer;
          }
        }
      }

      .administrator {
        display: flex;
        gap: 20px;
        align-items: center;
        grid-column: span 2;
        box-sizing: border-box;
      }
      .containerAdminValue {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        box-sizing: border-box;
        overflow-y: auto;
        max-height: 150px;
        .adminValue {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-between;
          padding: 5px 10px;
          color: $darkgray;
          border-bottom: 1px solid $darkgray;
          box-sizing: border-box;

          p {
            font-size: 1.2rem;
          }
          .actions {
            display: flex;
            gap: 10px;
            svg {
              cursor: pointer;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    .containerHonorarium {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h3{
        color: $darkgray;
        font-weight: 500;
      }
      .containerInputHonorarium {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        .containerInput {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 10px;

          label {
            font-size: 1.2rem;
            font-weight: 600;
            color: $darkgray;
            white-space: nowrap;
          }

          input,
          select {
            width: 100%;
            padding: 10px;
            border: 1px solid $darkgray;
            border-radius: 20px;
          }
          .containerValue {
            display: flex;
            gap: 10px;
            align-items: center;
            input {
              width: 100px;
            }
            svg {
              cursor: pointer;
            }
          }
        }
      }
    }

    .containerButton {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      gap: 20px;

      button {
        background-color: $mediumred;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 10px 15px;
        cursor: pointer;

        &:first-child {
          background-color: white;
          color: $darkgray;
        }
      }
    }
  }
}
