@import "styles/colors.scss";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 2.5rem;
  box-sizing: border-box;

  .containerBack {
    display: flex;
    justify-content: start;
    width: 100%;
    svg {
      cursor: pointer;
      font-size: 1.5rem;
      color: $darkred;
    }
  }

  h2 {
    text-align: start;
    width: 100%;
    font-size: 1.8rem;
    color: $darkgray;
    font-weight: 400;
  }

  .containerHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid $mediumred;

    .containerButton {
      display: flex;
      align-items: center;
      gap: 20px;
      button {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        gap: 5px;
        background-color: $mediumred;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 10px 15px;
        cursor: pointer;
      }
      .btnConfig {
        position: relative;
        .containerMenu {
          position: absolute;
          right: 0;
          top: 100%;
          border-radius: 10px;
          padding: 10px;
          display: none;
          flex-direction: column;
          gap: 10px;
          z-index: 100;
          background-color: $lighgray;
          &.active {
            display: flex;
          }
          button {
            background-color: $lighgray;
            color: black;
            border: none;
            border-radius: 50px;
            white-space: nowrap;
            padding: 10px 20px;
            font-weight: 600;
            font-size: 1.2rem;
            cursor: pointer;
            &:hover {
              background-color: $mediumred;
              color: white;
            }
          }
        }
      }
    }
  }
  .containerBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
    box-sizing: border-box;

    .card{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background-color: $lighgray;
      box-sizing: border-box;
      padding: 0.5rem 1rem;

      .options{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        svg{
          cursor: pointer;
          font-size: 1.5rem;
        }
      }

      h3{
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }
}